@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

/*Titulo*/
.sec_titulo {
  z-index: 10;
  display: grid;
  grid-template-columns: auto auto auto;
}

#titulo {
  padding-top: 1%;
  text-align: center;
  font-size: 1rem;
  color: #4B4B4B;
  padding-left: 50%; 
}

#reloj {
  padding-left: 70%;
  font-size:3rem;
  font-family:sans-serif;
  color:#000;
}

/* Card */
.card {
  position: relative;
  height: 300px;
  width: 550px;
  margin: 80px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

.card_dos {
  position: relative;
  height: 320px;
  width: 550px;
  margin-top: -260px;
  margin-left: 3%;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

.card_tres {
  position: relative;
  height: 320px;
  width: 550px;
  margin-top: -330px;
  margin-left: 69%;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

.card_animadas {
  position: relative;
  height: 300px;
  width: 300px;
  margin-top: 60px;
  margin-left: 0%;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Foto del Empleado */
.thumbnail {
  float: left;
  position: relative;
  left: 9%;
  top: -30px;
  height: 150px;
  width: 150px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.thumbnail_dos {
  float: left;
  position: relative;
  left: 9%;
  top: -60px;
  height: 150px;
  width: 150px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.thumbnail_animadas {
  float: left;
  position: relative;
  left: 25%;
  top: -25px;
  height: 150px;
  width: 150px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Contenido del lado derecho de la tarjeta */
.right {
  margin-left: 250px;
  margin-right: 20px;
}

h1 {
  text-align: center;
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B;
}

.separator {
  margin-top: 10px;
  border: 3px solid #C3C3C3;
}

p {
  text-align: justify;
  margin-top: -5px;
  padding-left: 90px;
  font-size: 10rem;
  line-height: 150%;
  color: #4B4B4B;
}

/* Numero */
h5 {
  position: absolute;
  left: 30px;
  bottom: -50px;
  font-size: 4rem;
  color: #4B4B4B;
}

.grid-container {
  padding-left: 7%;
  padding-right: 3%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.nombre_empleado {
  position: absolute;
  left: 30px;
  bottom: 130px;
  font-size: rem;
  color: #4B4B4B;
}

/*Animacion FadeInLeft*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-o-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s; 
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
